<?xml version="1.0"?>
<config>
    <modules>
        <stallioni_about>
            <version>0.1.0</version>    
        </stallioni_about>
    </modules>
    <global>
        <models>
            <stallioni_about>
                <class>Stallioni_About_Model</class>
                <resourceModel>about_resource</resourceModel>
            </stallioni_about>
            <about_resource>
                <class>Stallioni_About_Model_Resource</class>
                <entities>
                    <about>
                        <table>stallioni_about</table>
                    </about>
                </entities>
            </about_resource>
          </models>
		<resources>
            <about_setup>
                <setup>
                    <module>Stallioni_About</module>
                </setup>
            </about_setup>
        </resources>
        <block>
			<about>
				<class>Stallioni_About_Block</class>
			</about>
		</block>
    </global>
    <frontend>
        <routers>
            <about>
                <use>standard</use>
                <args>
                    <module>stallioni_about</module>
                    <frontName>about</frontName>
                </args>
            </about>
        </routers>
        <layout>
				<updates>
					<about>
						<file>about.xml</file>
					</about>
				</updates>
			</layout>
    </frontend>
    
</config>
