<?xml version="1.0"?>
<config>
    <modules>
        <stallioni_contactsave>
            <version>0.1.0</version>    
        </stallioni_contactsave>
    </modules>
    <global>
        <models>
            <stallioni_contactsave>
                <class>Stallioni_Contactsave_Model</class>
                <resourceModel>contactsave_resource</resourceModel>
            </stallioni_contactsave>
            <contactsave_resource>
                <class>Stallioni_Contactsave_Model_Resource</class>
                <entities>
                    <about>
                        <table>stallioni_contactsave</table>
                    </about>
                </entities>
            </contactsave_resource>
          </models>
		<resources>
            <contactsave_setup>
                <setup>
                    <module>Stallioni_Contactsave</module>
                </setup>
            </contactsave_setup>
        </resources>
        <block>
			<contactsave>
				<class>Stallioni_Contactsave_Block</class>
			</contactsave>
		</block>
    </global>
    <frontend>
        <routers>
            <contactsave>
                <use>standard</use>
                <args>
                    <module>stallioni_contactsave</module>
                    <frontName>contactsave</frontName>
                </args>
            </contactsave>
        </routers>
		<layout>
			<updates>
				<contactsave>
					<file>contactsave.xml</file>
				</contactsave>
			</updates>
		</layout>
    </frontend>
    
</config>
