<?xml version="1.0"?>
<config>
    <modules>
        <stallioni_prodselect>
            <version>0.1.0</version>    
        </stallioni_prodselect>
    </modules>
    <global>
        <models>
            <stallioni_prodselect>
                <class>Stallioni_Prodselect_Model</class>
                <resourceModel>prodselect_resource</resourceModel>
            </stallioni_prodselect>
            <prodselect_resource>
                <class>Stallioni_Prodselect_Model_Resource</class>
                <entities>
                    <prodselect>
                        <table>stallioni_prodselect</table>
                    </prodselect>
                </entities>
            </prodselect_resource>
          </models>
		<resources>
            <prodselect_setup>
                <setup>
                    <module>Stallioni_Prodselect</module>
                </setup>
            </prodselect_setup>
        </resources>
        <blocks>
			<prodselect>
				<class>Stallioni_Prodselect_Block</class>
			</prodselect>
		</blocks>
    </global>
    <frontend>
        <routers>
            <prodselect>
                <use>standard</use>
                <args>
                    <module>stallioni_prodselect</module>
                    <frontName>prodselect</frontName>
                </args>
            </prodselect>
        </routers>
        <layout>
				<updates>
					<prodselect>
						<file>prodselect.xml</file>
					</prodselect>
				</updates>
			</layout>
    </frontend>
    
</config>
