<?xml version="1.0"?>
<config>
    <modules>
        <stallioni_shop>
            <version>0.1.0</version> 
            <active>true</active>   
			<codePool>local</codePool>
        </stallioni_shop>
    </modules>
    <global>
        <models>
            <stallioni_shop>
                <class>Stallioni_Shop_Model</class>
                <resourceModel>shop_resource</resourceModel>
            </stallioni_shop>
            <shop_resource>
                <class>Stallioni_Shop_Model_Resource</class>
                <entities>
                    <shop>
                        <table>stallioni_vendorpage</table>
                    </shop>
                </entities>
            </shop_resource>
          </models>
		<resources>
            <shop_setup>
                <setup>
                    <module>Stallioni_Shop</module>
                </setup>
            </shop_setup>
        </resources>
		<events>
            <controller_front_init_routers>
                <observers>
                    <shop>
                        <class>Stallioni_Shop_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </shop>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <shop>
                <use>standard</use>
                <args>
                    <module>stallioni_shop</module>
                    <frontName>shop</frontName>
                </args>
            </shop>
        </routers>        
        <layout>
			<updates>
					<shop>
						<file>shop.xml</file>
					</shop>
				</updates>
			</layout>
    </frontend>
    
</config>
