<?xml version="1.0"?>
<config>
    <modules>
        <stallioni_vendorpage>
            <version>0.1.0</version>    
        </stallioni_vendorpage>
    </modules>
    <global>
        <models>
            <stallioni_vendorpage>
                <class>Stallioni_Vendorpage_Model</class>
                <resourceModel>vendorpage_resource</resourceModel>
            </stallioni_vendorpage>
            <vendorpage_resource>
                <class>Stallioni_Vendorpage_Model_Resource</class>
                <entities>
                    <vendorpage>
                        <table>stallioni_vendorpage</table>
                    </vendorpage>
                </entities>
            </vendorpage_resource>
          </models>
		<resources>
            <vendorpage_setup>
                <setup>
                    <module>Stallioni_Vendorpage</module>
                </setup>
            </vendorpage_setup>
        </resources>
        <blocks>
			<vendorpage>
				<class>Stallioni_Vendorpage_Block</class>
			</vendorpage>
		</blocks>
    </global>
    <frontend>
        <routers>
            <vendorpage>
                <use>standard</use>
                <args>
                    <module>stallioni_vendorpage</module>
                    <frontName>vendorpage</frontName>
                </args>
            </vendorpage>
        </routers>
        <layout>
				<updates>
					<vendorpage>
						<file>vendorpage.xml</file>
					</vendorpage>
				</updates>
			</layout>
    </frontend>
    
</config>
